.fullheight_diagonal {
    height: 100%;
    background: linear-gradient(to right bottom, #FFFFFF 49.7%, #ec407a 50.3%);
}

.fullheight {
    height: 100%;
}

.fullwidth {
    width: 100%;
}

.supercenter{
    margin: 0 auto;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.nomargin{
    margin: 0;
}